

html {
    height: 100%;
    width: 100%;
  }
  
.text-center {
    text-align: center;
  }
  .row {
    margin: 8px 0;
  }
  
  .row input {
    width: 320px;
    font-size: 20px;
    margin: 20px;
    padding: 20px 0%;
    border: 2px solid rgb(255, 252, 252);
    border-radius: 10px;
  }
  
  .button {
    width: 70px;
    padding: 20px;
    margin: 0 6px;
    background-color: rgb(61, 61, 196);
    border: 2px solid rgb(61, 67, 174);
    border-radius: 15px;
    cursor: pointer;
  }

  
  .mx-auto{
    margin: auto;
    width: 291px;
  }


  .box{
    width: 400px; 
    height: 550px; 
    background-color: rgb(27, 152, 229);
    border-radius: 30px;
  }